<% title @recipe.name.titleize %>
<table id="ingredients">
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.ingredients.each do |ingredient| %>
      <tr>
        <td>
          <% if ingredient.subrecipe %>
            <%= link_to h(ingredient.subrecipe.name), ingredient.subrecipe %>
          <% else %>
            <%= ingredient.name %>
          <% end %>
        </td>
        <td class="percent"><%= ingredient.percent %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>TOTAL</td>
      <td class="percent"><%= @recipe.total_percent %></td>
    </tr>
  </tfoot>
</table>
