body
{
  background: #fff;
  font-size: 20px;
  width: 80%;
  margin: 0px auto;
}

#header
{
  font-size: 150%;
  background: #cc8822;
  padding: 15px;
  padding-top: 0px;
  margin-bottom: 1em;
}

#header h1
{
  padding: 15px;
  background: #ffffcc;
  font-family: courier, fixed;
  font-weight: normal;
}

#header h1 a
{
  text-decoration: none;
  color: inherit;
}

#header h1 a.highlight
{
  color: #555;
}

#content
{
  background: #cc8822;
  padding: 15px;
}

#content #main
{
  padding: 1em;
  background: #ffffcc;
}
