body
{
  background: #fff;
  font-size: 20px;
  width: 80%;
  margin: 0px auto;
}

#header
{
  font-size: 150%;
  background: #cc8822;
  padding: 15px;
  padding-top: 0px;
  margin-bottom: 1em;
}

#header .inner
{
  padding: 15px;
  background: #ffffcc;
  font-family: courier, fixed;
}

#header h1
{
  font-weight: normal;
}

#header h1 a
{
  text-decoration: none;
  color: inherit;
}

#header h1 a.highlight
{
  color: #555;
}

#header #login
{
  padding-top: 0.5em;
  font-weight: normal;
  font-size: 50%;
}

#content
{
  background: #cc8822;
  padding: 15px;
}

#content #main
{
  padding: 1em;
  background: #ffffcc;
}

form.button-to,
form.button-to > div
{
  display: inline;
}
