table#ingredients
{
  empty-cells: show;
  border-collapse: collapse;
  margin-right: 1em;
  margin-bottom: 1em;
  float: left;
}
table#ingredients td
{
  border: 1px solid #cc8822;
  padding: 0.25em;
}

table#ingredients thead,
table#ingredients tfoot tr th
{
  border: 1px solid #cc8822;
  background: #fff;
}

table#ingredients th
{
  padding: 0.25em 0.5em;
  font-variant: small-caps;
  font-size: 80%;
}

table#ingredients td.percent,
table#ingredients td.weight
{
  font-family: courier, fixed;
}

p#source
{
  clear: left;
}

p
{
}
